@charset 'UTF-8';

*{
    margin: 0;
    padding: 0;
}

html, body{
    min-height: 100vh;
    background-color: rgba(160, 156, 156, 0.551);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header h1{
    padding-top: 50px;
    font-variant: small-caps; /*todas maiúsculas, mas as primeiras das frases são maiores*/
}

header p{
    padding-bottom: 50px;
}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgba(0, 0, 0, 0.512);
    color: white;
}

section.imagem p{
    background-color: rgba(0, 0, 0, 0.44);
    width: 400px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}
